<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>기능 1-1 : 반경 내 정류소 출력</h1>
<h3> - 목적지를 중심으로 반경을 설정하여 반경 내의 [정류소에 정차하는 버스 / 역에 정차하는 지하철  ]목록(reachable_list)</h3>
<h3> - reachable_list에 존재하는 모든 [버스/지하철]이 운항하는 노선을 파악</h3>
<h3> - 파악된 노선 중 출발지와 목적지 사이에 존재하는 [정류장 / 역]을 목록화(final_list)</h3>

<table class="table table-hover">
    <tr th:each="list :${func1}">
        <td>[[${list.route_code}]]</td>
        <td>[[${list.route_nm}]]</td>
        <td>[[${list.route_lat}]]</td>
        <td>[[${list.route_lng}]]</td>
        <td>[[${list.route_type}]]</td>
    </tr>
</table>

</body>
</html>